#mainNav{
    background-color: black;
}

.img-fluid{
    width: 20%;
    border: solid;
    border-color: white;
    border-radius: 25px;
}

#cont1{
    border-width: medium;
    border-style: solid;
    border-color: white;
    padding-top: 1rem !important;
    border-radius: 30px;
}

.footer{
    background-color: black !important;
    padding-bottom: 0.2rem !important;
}

.copyright{
    background-color: black !important;
}

.table{
    background-color: #7fd1c1;
}

#bodyamericana{
    background-color: #bbceca; 
}

#bodyconstante{
    background-color: #bbceca; 
}

#bodyprice{
    background-color: #bbceca;
}

#about{
    padding-top: 3rem !important;
}